.carousel-item > img {
  height: 100%;
  min-height: 200px;
  max-height: 700px;
  object-fit: cover;
}

.like {
  font-size: 1.5rem;
}

.card-img {
  width: 100%;
  max-width: 200px;
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
  margin: 0 auto;
}

.card-product:hover {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

i,
a {
  cursor: pointer;
}
